apiVersion: v1
{{ trust_bundle }}
baseDomain: example.test
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 2
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: openshift4poc
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: {{ local_pull_secret }}
sshKey: {{ ssh_key }}
imageContentSources:
    - mirrors:
      - {{ local_registry }}
      source: quay.io/openshift-release-dev/ocp-release-nightly
    - mirrors:
      - {{ local_registry }}
      source: quay.io/openshift-release-dev/ocp-v4.0-art-dev

